---
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
  - repo: local
    hooks:
      - id: validate-codecov
        name: Validate Codecov
        language: system
        entry: bash ./scripts/validate_codecov.sh
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args:
          - --fix=lf
  - repo: local
    hooks:
      - id: lint-code
        name: Lint code
        language: system
        entry: bash -c "uv run ruff check --fix"
        files: \.py$
      - id: format-code
        name: Format code
        language: system
        entry: bash -c "uv run ruff format --check || uv run ruff format"
        files: \.py$
      - id: type-check-code
        name: Type check code
        language: system
        entry: bash -c "uvx ty check"
        files: \.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--format, parsable, -d, relaxed]
