# Files named `databricks*` or `databricks/**` will be used to apply overrides to the
# generated asset bundle resources. The overrides should be specified according to the
# Databricks REST API's `Create a new job` endpoint. To learn more, visit their
# documentation at https://docs.databricks.com/api/workspace/jobs/create

{default_key}:
  job_clusters:
    - job_cluster_key: {default_key}
      new_cluster:
        data_security_mode: USER_ISOLATION
        node_type_id: Standard_DS3_v2
        num_workers: 1
        spark_env_vars:
          KEDRO_LOGGING_CONFIG: \${workspace.file_path}/conf/logging.yml
        spark_version: 15.4.x-scala2.12
  tasks:
    - job_cluster_key: default
      task_key: default
